<launch>
  <arg name="launch_tf2pose" default="true"/>
  <arg name="launch_occupancy_node" default="false"/>
  <arg name="mav_name" default="$(env ROS_NAMESPACE)"/>

  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" output="screen"
	 args="-configuration_directory $(find li_pkg)/configs -configuration_basename gene_3D_1_Ouster.lua">

    <remap from="odom" to="transformed_odom"/> 
    <remap from="points2" to="os1_cloud_node/points"/>
    <remap from="imu" to="gx5/imu/data"/>

  </node>

  <node if="$(arg launch_occupancy_node)" name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.2" />

	<node if="$(arg launch_tf2pose)" name="tf_to_pose" pkg="ros_conversions" type="tf_to_pose" output="log">
	  <remap from="~/pose_topic" to="cart_pose"/>
			
		<param name="tf_target_frame" value="$(arg mav_name)/odom"/>
		<param name="tf_source_frame" value="$(arg mav_name)/base_link"/>
		<param name="pose_frame_id" value="$(arg mav_name)/odom"/>
			
		<param name="rate" type="double" value="30.0"/>
	</node>
</launch>
