
<launch>

	<include file="$(find li_pkg)/launch/microstrain.launch"/>

	<include file="$(find li_pkg)/launch/transforms.launch"/>

	<!-- include file="$(find li_pkg)/launch/ouster.launch"/ -->

	<!-- include file="$(find li_pkg)/launch/cartographer.launch"/ -->

  <include file="$(find li_pkg)/launch/tof_up.launch"/>

  <include file="$(find li_pkg)/launch/tof_down.launch"/>

  <include file="$(find li_pkg)/launch/tof_fore.launch"/>

  <!--include file="$(find li_pkg)/launch/ranger.launch"/-->
</launch>
